/* 간단한 초기화 */
* { 
    margin-left: 50px; 
    padding: 0; 
    box-sizing: border-box; 
    font-size: 16px;
  }
  
  /* id 선택자와 class 선택자 */
  #heading{
    margin-top: 100px;
    color: pink;
  }

  .smallfont{
    font-size: 10px;
  }
  .card{
    width: 300px;
    height: 300px;
    margin: 20px;
    gap: 5px;
  }

  .roundimg{
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }

  .container{
    margin:0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 20px;
  }
  .containbutton{
    margin:5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  /* nav */
  nav {
    width: 100vw;
    height: 80px;
    background-color: skyblue;
    
    position: fixed;
    top: 0;
    z-index:100;
  }
  
  nav > ul{
    width: 100vw;
    height : 100%;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 10px 20px;
    color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer ;
  }
  
  /* button & 가상 클래스 선택자 */
  button {
    width: 100px;
    height: 40px;
    margin: 20px;
    border-radius:8px ;
    background: linear-gradient(90deg,white);
    opacity: 50%;
    transition:all 0.3s ease;
    cursor: pointer;
  }
  .smallbutton {
    width: 50px;
    height: 40px;
    margin: 20px;
    border-radius:8px ;
    background: linear-gradient(90deg, white);
    opacity: 50%;
    transition:all 0.3s ease;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 100%;
  }

  button:active {
    color: #fff;
  }

  input:focus{
    outline:1px solid red;
  }

  h1 {
    font-size: 30px;

  }  
  
  /* flex & em */
  #parent-box {
    width: 100%;
    height:200px;
    background-color: red;
    font-size:10px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #first-box {
    width: 12%;
    height: 200px;
    background-color: black;
    color : white;
    font-size: 10em;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #second-box {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    font-size:10em;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* relative */
  #third-box {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    font-weight: 900;
    font-size: 60px;
  
    position: relative;
  }
  
  /* absolute */
  #third-box div {
    width: 100px;
    height: 100px;
    background-color: white;
    
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  /* footer */
  footer {
    height: 100px;
    background-color: green;
  }
  
  footer a {
    color: black;
    text-decoration: none;
    font-size: 40px;
    display : flex;
    justify-content: center;
    align-items: center;
  }
  